html {
    background-color:cornflowerblue;
    background-size:300px;
}

body {
    width: 800px;
    background-color: white;
    margin: 0 auto;
}

h1 {
    font-family: 'Righteous';
    text-align: center;
    font-size : 35;
}

.twocolumn {
    display : grid;
    font-size: 14px;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    grid-template-columns: auto auto;
}

label {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

select {
    width: 20em;
}